## Core LaTeX/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files (used by LaTeX Workshop & latexmk)
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdfsync

## Bibliography auxiliary files (bibtex/biblatex/biber)
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## Optional: exclude final output
# *.pdf

## Optional: exclude pictures
*.png

# Exclude figures
Figures/*